* {
    border-radius: 15px;
}

.container {
    background-color: darkgrey;
    align-content: center;
    margin: auto;
    width: 415px;
    margin-top: 120px;
    padding-bottom: 10px;
}

.display {
    background-color: lightblue;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    text-align:right;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.keypad{
    width: 90%;
    margin: auto;
}

.keypad div{
    /* background-color: lightgray; */
    background-color: orange;

    width: 80px;
    height: auto;
    display: inline-block;
    margin: 5px;
    text-align:center;
}

.keypad button{
    background-color: orange;

    width: 80px;
    height: auto;
    display: inline-block;
    margin: 5px;
    text-align:center;
}

h3{
    font-size: 30px;
    vertical-align: middle;
}

p{
    font-size: 45px;
    font-weight: 800;
    display: inline;
}

#clearText {
    font-size: 30px;
}

#clear {
    background-color: rgb(213, 53, 85);
}

#operators {
    background-color: rgb(36, 95, 204);
}